{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '1.css' %}">
</head>

<body>
    <nav id="header">
        <img src="https://images.yourstory.com/cs/images/companies/5014081910707470597158051679579336564277248n-1650900869321.jpg?fm=auto&ar=1:1&mode=fill&fill=solid&fill-color=fff"
            class="img">
        <p id="txt">FURNITURE <span>WALLA</span>
        <p id="menu_1"><input type="text " placeholder="Search entire store here"></p>
        </p>
        <!-- <p id="menu_2">WISHLIST</p> -->

    </div>
    <div class="menu1">
        <ul id="list1">
            <li><a href="pg_1">New</a></li>
            <li><a href="pg_2">Sofa</a></li>
            <li><a href="pg_3">Living</a></li>
            <li><a href="pg_4">Dining</a></li>
            <li><a href="pg_5">Bedroom</a></li>
            <li><a href="#">Decor</a></li>
            <li><a href="#">Lighting</a></li>
            <li><a href="#">Gifting</a></li>
            <li><a href="#"><b>SPECIAL PRICES</b></a></li>
        </ul>
    </div>
</nav>
 
    <br><br><br><br>
    <div class="container1">
        <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/category/New_category_banner_1920x480-min.webp">
    </div>
    <p id="text1">Home / NEW</p>
    <br>
    <p id="text2">NEW</p>
    <p id="text3">205 products</p>
    <br><br>
    <P id="text4">FILTER</P>
    <table>
        <tr>
            <td><seLect>
                    <option>CATEGORY</option>
                    <option>NEW ARRIVALS</option>

                </seLect></td>
            <select id="text5">
                <option>PRICE</option>
                <option>$ 0.00-$100,000.0</option>
                <option>$ 100,000.0-$200,000.0</option>
                <option>$ 300,000.0 and above</option>
            </select>
        </tr>

    </table><br><br>
    <table id="t2">
        <tr>
            <td>
                <ul class="type1">
                    <li><a href="#">rbr</a>NEW ARRIVALS</li>
                    <li><a href="#">kmk</a>PRICE (HIGH TO LOW)</li>
                    <li><a href="#">kmk</a>PRICE (LOW TO HIGH)</li>
                    <li><a href="#">kmk</a>DISCOUNTS</li>
                    <li><a href="#">kmk</a>FEATURED</li>

                </ul>

            </td>

        </tr>

    </table><br><br><br>
    <div class="container2">
        <div class="img1">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/1/310027930.webp" width="100%">
            <p class="text5">Atilio Table Clock</p>
            <p class="text5"><strike>$4,850</strike>
                <span>$4,122</span> |15% OFF
            </p>
        </div>
        <div class="img1">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/1/0/104118273.webp" width="100%">
            <p class="text5">Veloz Table Lamp</p>
            <p class="text5"><strike>$24,700</strike>
                <span>$19,760</span> |20% OFF
            </p>
        </div>
        <div class="img1">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/2/326001349.webp" width="100%">
            <p class="text5">Divany Cushion Cover 032 With Filler</p>
            <p class="text5"><strike>$1,850</strike>
                <span>$1,572</span> |15% OFF
            </p>
        </div>
    </div><br>
    <div class="container3">
        <div class="img2">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/2/326001295.webp" width="100%">
            <p class="text6">Atilio Table Clock</p>
            <p class="text6"><strike>$4,850</strike>
                <span>$4,122</span> |15% OFF
            </p>
        </div>
        <div class="img2">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/2/323032070.webp" width="100%">
            <p class="text6">Veloz Table Lamp</p>
            <p class="text6"><strike>$24,700</strike>
                <span>$19,760</span> |20% OFF
            </p>
        </div>
        <div class="img2">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/2/323060009.webp" width="100%">
            <p class="text6">Divany Cushion Cover 032 With Filler</p>
            <p class="text6"><strike>$1,850</strike>
                <span>$1,572</span> |15% OFF
            </p>
        </div>
    </div><br>
    <div class="container4">
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/4/346301012.webp" width="100%">
            <p class="text7">Atilio Table Clock</p>
            <p class="text7"><strike>$4,850</strike>
                <span>$4,122</span> |15% OFF
            </p>
        </div>
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/4/340051384_340051385.webp" width="100%">
            <p class="text7">Veloz Table Lamp</p>
            <p class="text6"><strike>$24,700</strike>
                <span>$19,760</span> |20% OFF
            </p>
        </div>
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/8b8cc58f89e1d5ba2bfe6a0e83a602f9/3/0/305014935_305014934.webp" width="100%">
            <p class="text7">Divany Cushion Cover 032 With Filler</p>
            <p class="text7"><strike>$1,850</strike>
                <span>$1,572</span> |15% OFF
            </p>
        </div>
    </div><br>
    <footer>
        <div class="container14">
            <div class="img13">
                <p class="txt18">Contact</p>
                <p class="txt18">Whatsapp</p>
                <p class="txt18">Call</p>
            </div>
            <div class="img13">
                <p class="txt18">Company</p>
                <p class="txt18">About</p>
                <p class="txt18">News</p>
                <p class="txt18">Blog</p>
                <p class="txt18">Carreers</p>
                <p class="txt18">Customer stories</p>
            </div>
            <div class="img13">
                <p class="txt18">Contact</p>
                <p class="txt18">Whatsapp</p>
                <p class="txt18">Call</p>
            </div>
            <div class="img13">
                <p class="txt19">FOLLOW US NOW</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aPBA6tInr1fAZs-V9MilEaVZGNvD9XvaSA&usqp=CAU" class="image1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTphXzTnUfHmBVvZB89BfbBQjxjSQxGp5oNBwfqWlWibFNVtfVv0gXIMnG8L3PvXSW5JQg&usqp=CAU" class="image1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzELT8hazLFwIhUBqQ0y3-VS_Mk3_bDYaSeQ&usqp=CAU" class="image1">
                <p class="txt20">SUBSCRIBE TO OUR FW STYLEDIT NEWSLETTER</p><br>
                <input type="text" placeholder="Enter your Email address">
                <button>Subscribe</button><br><br><br>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU" class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU" class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU" class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU" class="image2">
                <p class="txt20">Privacy Policy | Shipping | Terms and Conditions | Returns & Refunds | Copyright © 2023 furniturewalla</p>
            </div>
        </footer>


</body>

</html>