{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>machine test </title>
    <link rel="stylesheet" href="{% static 'webstyle.css' %}">


</head>

<body>

    <nav id="header">
        <img src="https://images.yourstory.com/cs/images/companies/5014081910707470597158051679579336564277248n-1650900869321.jpg?fm=auto&ar=1:1&mode=fill&fill=solid&fill-color=fff"
            class="img">
        <p id="txt">FURNITURE <span>WALLA</span>
        <p id="menu_1"><input type="text " placeholder="Search entire store here"></p>
        </p>
        <!-- <p id="menu_2">WISHLIST</p> -->

        </div>
        <div class="menu1">
            <ul id="list1">
                <li><a href="pg_1">New</a></li>
                <li><a href="pg_2">Sofa</a></li>
                <li><a href="pg_3">Living</a></li>
                <li><a href="pg_4">Dining</a></li>
                <li><a href="pg_5">Bedroom</a></li>
                <li><a href="#">Decor</a></li>
                <li><a href="#">Lighting</a></li>
                <li><a href="#">Gifting</a></li>
                <li><a href="#"><b>SPECIAL PRICES</b></a></li>
            </ul>
        </div>
    </nav>
    <div class="container1">
        <img src="https://d1wc69nzx5ojwh.cloudfront.net/mageplaza/bannerslider/banner/image/d/e/desktopbanner_27-04-23.jpeg"
            width="100%">
    </div>
    <br><br><br><br>
    <div class="container2">
        <div class="logo1">

            <div class="logo1">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/usp/freedelivery.webp" width="100%">
            </div><br>
            <p class="ptag1">FREE DELIVERY AND INSTALLATION</p>

            <div class="logo1">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/usp/1LsqftW_icon_100x100-2.webp" width="100%">
            </div><br>
            <p class="ptag1">1 LAC. SQ.FT. WAREHOUSING</p>
            <div class="logo1">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/usp/LEstores_icon_100x100-3.webp" width="100%">
            </div><br>
            <p class="ptag1">FREE DELIVERY</p>
            <div class="logo1">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/usp/125Y_icon_100x100-4.webp" width="100%">
            </div><br>
            <p class="ptag1">OVER 125 YEARS OF LEGACY</p>
        </div><br><br><br><br><br>
        <p id="txt2">SHOP BY CATEGORY</p>
        <hr id="hr1">
    </div>
    <div class="container3">
        <div class="box">
            <div class="pics">
                <!-- <h1>LIVING</h1> -->
                <!-- <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Living-1.webp" alt=""> -->
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/GD-1.webp" alt="">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Lighting-2_287x466.webp" alt="">
            </div>
            <div class="pics">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/decor-1.webp" alt="">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/LC-1.webp" alt="">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Bedroom-1.webp" alt="">

            </div>
            <div class="pics">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/NewA-1.webp" alt="">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Dining-1.webp" alt="">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/coffee-1.webp" alt="">
            </div>
        </div><br><br><br>
        <p id="txt3">BEST SELLERS</p>
        <hr id="hr2">

    </div>
    <div class="container4">
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-3.webp"
                width="100%">
            <p class="txt4">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt4">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-5.webp"
                width="100%">
            <p class="txt5">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt5">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img3">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-2.webp"
                width="100%">
            <p class="txt6">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt6">$ 1,37,600 $1,16,960 15% OFF</p>

        </div><br><br><br><br>
    </div>
    <div class="container5">
        <div class="img4">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-1.webp">
            <p class="txt7">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt7">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img4">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-4.webp">
            <p class="txt8">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt8">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img4">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/af3dcd805817cabf4fd88329cd7ce1a6/b/e/best-sellers_march-6.webp">
            <p class="txt9">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt9">$ 1,37,600 $1,16,960 15% OFF</p>

        </div>
    </div>
    </div><br><br><br><br><br>
    <hr id="hr3">

    <div class="container6">
        <div class="img5">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Approved_block1.webp">

        </div>
        <div class="img5">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Spotlight_banner_18-04-23.webp">

        </div>
    </div>
    <div class="container7">
        <div class="img6">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Approved_block3.webp">

        </div>
        <div class="img6">
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Approved_block4.webp">

        </div>
    </div><br><br><br><br>
    <p id="txt10">SPECIAL PRICES</p>
    <hr id="hr4">
    <br><br><br><br>

    <div class="container8">
        <div class="img7">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/s/p/special-prices_march-7.webp">
            <p class="txt11">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt11">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img7">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/s/p/special-prices_march-4.webp">
            <p class="txt11">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt11">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img7">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/s/p/special-prices_march-1.webp">
            <p class="txt11">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt11">$ 1,37,600 $1,16,960 15% OFF</p>

        </div>
        <div class="img7">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/s/p/special-prices_march-6.webp">
            <p class="txt11">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt11">$ 1,37,600 $1,16,960 15% OFF</p>

        </div>

    </div>
    <br><br><br><br>
    <p id="txt12">NEW ARRIVALS</p>
    <hr id="hr5">

    <div class="container9">
        <div class="img8">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/n/e/new-arrivals_march-2.webp">
            <p class="txt13">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt13">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img8">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/n/e/new-arrivals_march-10.webp">
            <p class="txt13">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt13">$ 1,37,600 $1,16,960 15% OFF</p>
        </div>
        <div class="img8">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/n/e/new-arrivals_march-1.webp">
            <p class="txt13">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt13">$ 1,37,600 $1,16,960 15% OFF</p>

        </div>
        <div class="img8">
            <img
                src="https://d1wc69nzx5ojwh.cloudfront.net/catalog/product/cache/e9f07ceb68574600b0b8dc43ccfae974/n/e/new-arrivals_march-5.webp">
            <p class="txt13">ENRICA 6 SEATER MARBLE DINING TABLE</p>
            <p class="txt13">$ 1,37,600 $1,16,960 15% OFF</p>

        </div>

    </div>

    <div class="container10">
        <div class="img9">
            <p id="txt14">OUR STORES</p>
            <hr id="hr6"><br><br><br>
        </div>

        <div class="container11">
            <div class="img10">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Mum_store.webp">

            </div>
            <div class="img10">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Delhi_store.webp">

            </div>
            <div class="img10">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Bang_Store.webp">


            </div>
            <div class="img10">
                <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Hyd_store.webp">
            </div>
        </div>
        <br>
        <hr id="hr7"> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
    <div class="container12">
        <div class="img11">
            <p id="txt15">Blogs</p>
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Blog_banner_march23.webp">
        </div>
        <div class="img11">
            <p id="txt16">Customer stories</p>
            <img src="https://d1wc69nzx5ojwh.cloudfront.net/wysiwyg/Blog_banner_march23.webp">
            <p id="txtt">CURATED GLOBAL CHIC FOR A DESIGNER HOME - FW Collections are a handpicked selection of fusion,
                contemporary luxury furniture and home décor. Our prices promise excellent value for eclectic designs
                trending across the world, curated and imported for you. Experience a luxury online furniture shopping
                experience with guided support from our Customer Care or visit our signature furniture stores in Mumbai,
                Delhi, Bangalore and Hyderabad.</p>
        </div>
    </div>

    <div class="container13">
        <div class="img11">
            <p id="txt17">FOLLOW US ON INSTAGRAM</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmy24AyYI-6-71X-AeWcxc6TqFWXTFMIPBlQ&usqp=CAU"
                class="i">
        </div><br><br><br><br>

        <div class="img12">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/342924512_261174803073959_705048627861885487_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=UnnWogy6HVMAX-EuyhZ&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBHFe9oI-WOPcvewhYqbP0sUuRt3uKxXVdaTc0quXs7NA&oe=64524E9E"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/342915525_221524800488005_1895506782100843824_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=XmrS2xUWPu4AX8a40Da&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDhkXJ-iLalnqpR9aDemdvSSC5ip53syaZces7zNjmZSg&oe=6453D41B"
                alt="">
            <img src="https://scontent-bom1-2.cdninstagram.com/v/t39.30808-6/342861078_752501226428120_971150898404644154_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=Y_lzskwcZwoAX9g6UW7&_nc_ht=scontent-bom1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDdGTVv-qTyrmLjA7swWa1i0WCVzyixdNUoSbmH4vcFew&oe=64529109"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t39.30808-6/338425692_1221499425179729_2532634608534402895_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=J-R4SWTGKOYAX-ggBsb&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfB0KI8tJHz3BuvRFy9E2kGGCCzLfNIVp10n9Xh9aMWd0g&oe=64537014"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t39.30808-6/336888648_1453261738817175_8121220175676228395_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=xZSL6nKJKBoAX-m8LCr&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfCvfbtja4AxU2BfuN31bB_UjUL_q5nxWn_zhbhqcqmeNw&oe=64520D2D"
                alt="">
            <img src="https://scontent-bom1-2.cdninstagram.com/v/t51.29350-15/340982658_1391879201624948_204461187601412710_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=NMScSoGnWlcAX96FyJy&_nc_ht=scontent-bom1-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfBKhyXJh7HC4o4WhQYnDmXBQBKVn68ENJmMIpdgsETVEA&oe=6453618C"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/340694418_625669486285140_4798523500904735045_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=AJ6maZjHQbEAX8GTe-I&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfCBzYQA1dMO6jKwBsy7FZVTCEZ5_PvKUiJwf9rg5ssCyw&oe=64536A85"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/340351498_898340394774198_1180570673547834762_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=MC9w2L6SqDEAX_kt1kF&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfClKEtgjQaLPZvj0cmRDMUQbgYEL8WP81BHce54gkkMsw&oe=6452D904"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/339527227_756964482540481_5866408167321488589_n.webp?stp=dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=HhLm1nFketEAX9PziPq&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfAp1rwQl572IDrQfsdacDg5IIjZ2b0LwnRiQVibyhODXA&oe=64529FE0"
                alt="">
            <img src="https://scontent-bom1-1.cdninstagram.com/v/t51.29350-15/338352218_1343597889830644_5138902259231296283_n.webp?stp=dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=T-NgdfVX5foAX-DmAAY&_nc_oc=AQlhreQv8DFl-KgFzp0qBB4CSDukdjxzC9p4Lyx2ToWJXc6KT2JHuLeznhUd1j-FKbw&_nc_ht=scontent-bom1-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AfDrozUpOOolwXnehFW-0JTNuXDu5HZVy1dPmZO5lcAgQQ&oe=6451EB14"
                alt="">

        </div>
    </div>
    <footer>
        <div class="container14">
            <div class="img13">
                <p class="txt18">Contact</p>
                <p class="txt18">Whatsapp</p>
                <p class="txt18">Call</p>
            </div>
            <div class="img13">
                <p class="txt18">Company</p>
                <p class="txt18">About</p>
                <p class="txt18">News</p>
                <p class="txt18">Blog</p>
                <p class="txt18">Carreers</p>
                <p class="txt18">Customer stories</p>
            </div>
            <div class="img13">
                <p class="txt18">Contact</p>
                <p class="txt18">Whatsapp</p>
                <p class="txt18">Call</p>
            </div>
            <div class="img13">
                <p class="txt19">FOLLOW US NOW</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0aPBA6tInr1fAZs-V9MilEaVZGNvD9XvaSA&usqp=CAU"
                    class="image1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTphXzTnUfHmBVvZB89BfbBQjxjSQxGp5oNBwfqWlWibFNVtfVv0gXIMnG8L3PvXSW5JQg&usqp=CAU"
                    class="image1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzELT8hazLFwIhUBqQ0y3-VS_Mk3_bDYaSeQ&usqp=CAU"
                    class="image1">
                <p class="txt20">SUBSCRIBE TO OUR FW STYLEDIT NEWSLETTER</p><br>
                <input type="text" placeholder="Enter your Email address">
                <button>Subscribe</button><br><br><br>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU"
                    class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU"
                    class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU"
                    class="image2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPy9xoCiIHtNBp4PUQBsrlkMLvCqgz24sXkg&usqp=CAU"
                    class="image2">
                <p class="txt20">Privacy Policy | Shipping | Terms and Conditions | Returns & Refunds | Copyright © 2023
                    furniturewalla</p>
            </div>
    </footer>
    </div>
</body>

</html>